<%= render "form" %>

<%= form_for @tweet, url: {action: :update} do |f|%>
    <div class="bg1"><%= link_to image_tag("back.jpg", :size => '30x30'), root_path %>
    </div>  
    <%= f.text_field :message %>
    <%= f.submit 'ツイート' %>
    <% @tweet.tdate = Time.current %>
    <%= f.hidden_field :tdate %> <br>
<% end %>