
<% if flash[:notice] %>
    <%= flash[:notice] %>
<% end %>


<% @tweets.each do |tweet|%>
    <p> <div class="tx1">
        <%= tweet.message %></div><br>
        <% t1 = Time.current %>
        <% t2 = tweet.tdate %>
        <% t3 = t1 - t2 %>
        <% t3 = t3.floor(0) %>
        <% if t3 > 3600 * 24 %>
            <% day = t3.div(3600 * 24) %>
            <%= day %>日前
        <% elsif t3 > 3600 %>
            <% hour = t3.div(3600) %>
            <%= hour %>時間前
        <% elsif t3 > 60%>
            <% min = t3.div(60) %>
            <%= min %>分前
        <% else %>
            <%= t3 %>秒前
        <% end %>
        <br>
        <%= link_to '削除', tweet_path(tweet.id), :method => :delete %>
        <%= link_to '表示', tweet_path(tweet.id) %>
        <%= link_to '編集', edit_tweet_path(tweet.id) %>
    </p>
    <hr>
<% end %>
